.filterButton {
  padding: 12px 24px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 10px;
  transition: background 0.3s;
}

.filterButton:hover {
  background: #0056b3;
}
